In [15]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

df = pd.DataFrame([['Adib',20,'M',84,'A'],
                   ['Pratik',21,'M',92,'S'],
                   ['Reshna',20,'F',np.nan,np.nan],
                   ['Shreya',19,'F',86,'A'],
                   ['Sania',np.nan,'F',67,'C'],
                   ['Aamir',22,'M',85,'A'],
                   ['Ajeeth',21,'M',78,'B'],
                   ['Arif',18,'M',73,'B'],
                   ['Akanksha',20,'F',32,'F'],
                   ['Sara',19,'F',96,'S']])
df.columns=['Name','Age','Gender','Mark','Grade']
df.index =['S1','S2','S3','S4','S5','S6','S7','S8','S9','S10']

df

In [ ]:
# Task- 2 Check the info of 'df'

df.info()

In [ ]:
Task 3- Check the descriptive statistics of 'df'

df.describe()

In [ ]:
# Task 4- check the 4th index observation with 'loc' slicing operator.

# 4th indexed observation means the 5th value.

df.loc['S5':'S5','Name':'Grade']

In [ ]:
# Task 5 - Check the null values in your 'df'

df.isnull().any()

In [ ]:
df.isnull().sum()